html{
    background:  rgb(255, 255, 221);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

*{
    color: rgb(0, 0, 128);
}

a{
    color: rgb(0, 0, 0)
}

.goldenrod{
    color: goldenrod;
    font-weight: bold;
}

#November-color{
    color: red;
}

li[draggable="true"]{
    color: green;
}

li[draggable="false"]{
    color: red;
}

li{
    margin-left: -30px;
    margin-top: -1px;
    list-style-position: inside;
}

.center{
    text-align: center;
}

.normal{
    font-weight: normal;    
}

.img{
    height: 500px;
}

.nav{
    background-color: rgb(170, 170, 255);
}